@import "variables.styl"

.discover-area
  width 100%

.p-tile > .page-link
  display block

.discount
  background home-bg
  color primary-color
  padding 1px 4px
  font-size .75em
  font-weight 600
  border-radius 4px

.p-tile
  margin-bottom 15px
  position relative
  z-index 0
  transition all .1s
  cursor pointer
  border-radius border-radius
  border 1px solid rgba(0, 0, 0, 0)
  padding: 7px;
  &:hover
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12);
    border-radius: 0px;
    margin-top: 1px;
    .img-wrapper
      & > .compare-btn
        opacity 1
        transform translateX(0)

    .badge
    & > .compare-btn
      position absolute
      top 0
      z-index 1


    & > .compare-btn
      right 5px
      opacity 0
      transform translateX(20px)
      transition all .2s

      i
        &.close-icon
          transform scale(.7)

    .badge
      left 5px
      font-size .7em
      padding 2px 5px
      color #fff
      border-radius 3px
      background primary-color

    .fav-btn
      position absolute
      top 10px
      right 10px
      height auto
      font-size 2em
      z-index 10
      line-height 1
      color #666

      span
        line-height 1
.tile-container .p-tile .img-wrapper
    margin: 0px 0 5px 0;
    position relative
    height 38vh

.glide__slides li .p-tile .img-wrapper
    margin 5px 0
    position relative
    height 38vh

.p-tile
  & > .page-link
    display block

.user-compared
.user-wishlists
  .tile-container
    .p-tile
      min-width 25%
      width 25%

.tile-container
  display flex
  flex-wrap wrap
  margin 0 -10px

  .p-tile
    width 16.66%
    min-width 16.66%
    margin-bottom 15px

//RESPONSIVE
@media only screen and (min-width: 1900px)
  .product-list .main-content .tile-container .p-tile 
    min-width 20%
    width 20%

    .img-wrapper
      height 40vh
  .glide__slides li .p-tile .img-wrapper
    height 30vh
  .area-content .tile-container .p-tile .img-wrapper 
    margin: 5px 0;
    position: relative;
    height: 31vh;
  .area-content .tile-container
    .discover-area .p-tile 
      width 20%

@media only screen and (max-width: 1600px)
    .product-list .main-content .tile-container .p-tile 
      min-width 25%
      width 25%
      
      .img-wrapper
        height 50vh
    .glide__slides li .p-tile .img-wrapper
      height 45vh

@media only screen and (max-width: 1400px)
  .tile-container
    .p-tile
      min-width 20%
      width 20%

@media only screen and (max-width: 1200px)
  .tile-container
    .p-tile
      width 25%
      min-width 25%

@media only screen and (max-width: 992px)
  .user-compared .tile-container
  .user-wishlists .tile-container
  .tile-container
    .p-tile
      width 33.33%
      min-width 33.33%

@media only screen and (max-width: 768px)
  .p-tile .img-wrapper > .compare-btn
    transform none
    opacity 1

  .p-tile
    margin-bottom 10px
    .img-wrapper
      img
        padding 0px

  .user-compared  .tile-container
  .user-wishlists  .tile-container
  .tile-container
    .p-tile
      width 50%
      min-width 50%


@media only screen and (max-width: 576px)
  .tile-container
    margin 0 -5px

    .p-tile
      padding 0 5px
      width 50%
      min-width 50%
      margin-bottom 10px

  .product-list .main-content .tile-container .p-tile 
      width 50%
      min-width 50%

      .img-wrapper
        height 35vh
  .glide__slides li .p-tile .img-wrapper
      height: 33vh;
  .c_slider__container li .p-tile .img-wrapper
      height: 35vh;
