.visit-btn
  height 36px
  margin 0
  line-height 1.4
  min-width 100px
  padding 0 10px
  font-size .9rem
  white-space nowrap
  background #eee
  display flex
  align-items center
  border 1px solid #ddd
  border-radius 8px

  &:hover
    background #ddd

  &:active
    background #fff
.custome-btn-follow
  background #ffffff
  border-radius 60px
.store-mark
  display: flex
  align-items: center;
  width: 100%;
  font-family: system-ui;
  .logo-imge-custome
    width: 60px;
    height: 60px;
    object-fit: initial;
    border: 1px solid #ddd;
    margin-right: 5px;
    padding: 19px 4px;
.store-info
  padding 10px 15px 15px
  // border 1px solid #ddd
  border-radius 8px

  .btn-wrap
    flex-grow 1
    gap 15px
    flex-wrap wrap
    display flex
    align-items flex-end
    justify-content space-between

  .store-name
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    font-weight: 700;
    display: flex;
    align-items: center;
    grid-gap: .1067rem;

  .store-date
    letter-spacing 0
    font-size .85rem
    opacity .9

    b
      margin-top 5px

    span
      margin-left 10px
.shop-discription
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #797878;
@media only screen and (min-width: 1920px)
  .store-mark
    .logo-imge-custome
      margin-right: 20px;
@media only screen and (max-width: 576px)
  .store-mark
    font-size: 1em;
 

